* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
}

$color: (
  "primary": #db9e3f,
  "white": #fff,
  "light": #f9f9f9,
  "grey": #999,
  "grey-1": #666,
  "dark-1": #343440,
  "dark": #222,
  "black": #000,
  "black-1": #333,
  "blue": #4394e4,
);
// color
@each $colorKey, $color in $color {
  .text-#{$colorKey} {
    color: $color;
  }
  .bg-#{$colorKey} {
    background-color: $color;
  }
}

// text
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var;
  }
}

$base-font-size: 1rem;

$font-sizes: (
  // 10px
    xs: 0.7692,
  // 12px
    sm: 0.9231,
  // 13px
    md: 1,
  // 14px
    lg: 1.0769,
  // 16px
    xl: 1.2308,
  xxl: 1.5385
);

@each $sizeKey, $size in $font-sizes {
  .fz-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

.sprite {
  background: url("assets/images/sprite.png") no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  &.sprite-news {
    background-position: 63.546% 15.517%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-arrow {
    background-position: 38.577% 52.076%;
    width: 0.7692rem;
    height: 0.7692rem;
  }
  &.sprite-story {
    background-position: 90.483% 15.614%;
    width: 1.7692rem;
    height: 1.5385rem;
  }
  &.sprite-shop {
    background-position: 36.746% 0.924%;
    width: 1.4615rem;
    height: 1.6923rem;
  }
  &.sprite-tiyanfu {
    background-position: 10.408% 15.517%;
    width: 1.5385rem;
    height: 1.5385rem;
  }
  &.sprite-new {
    background-position: 89.733% 1.266%;
    width: 1.5385rem;
    height: 1.6154rem;
  }
  &.sprite-rongyao {
    background-position: 36.467% 15.287%;
    width: 1.8462rem;
    height: 1.5385rem;
  }
  &.sprite-yingdi {
    background-position: 63.3% 0.927%;
    width: 1.8462rem;
    height: 1.8462rem;
  }
  &.sprite-wechar {
    background-position: 0 96.207%;
    width: 1.8462rem;
    height: 1.9231rem;
  }
}
